<template>
  <div id="date">
    <h3>You can apply for citizenship on...</h3>
    <div v-if="!date" class="loading">
      <pulse-loader :color="loadingColor"></pulse-loader>
    </div>
    <div v-if="date">
      <h1>{{date}}</h1>
    </div>
    <img class="moose" src="./../assets/moose.png">
  </div>
</template>

<script>
import Date from '@/services/Date'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
export default {
  name: 'CitizenshipDate',
  components: {
    PulseLoader
  },
  data () {
    return {
      date: '',
      loadingColor: '#FFFFFF'
    }
  },
  methods: {
    async getDate () {
      const response = await Date.get()
      return response
    }
  },
  mounted () {
    this.getDate()
      .then((response) => {this.date = response.data.date})
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#date {
  padding-top: 10%;
}
.moose {
  margin-top: -50px;
  width: 270px;
}
.loading {
  padding: 31px;
}
</style>
