<template>
  <div id="app">
    <CitizenshipDate/>
  </div>
</template>

<script>
import CitizenshipDate from './components/CitizenshipDate.vue'

export default {
  name: 'App',
  components: {
    CitizenshipDate
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
}
body, html {
  height: 100%;
  margin: 0px;
  background-color: lightcoral;
}
</style>
